config WAFER_LEFT
    bool "Wafer Left"
    default n
    help
      Select this option to build for the left side of the Wafer split keyboard.

config WAFER_RIGHT
    bool "Wafer Right"
    default n
    help
      Select this option to build for the right side of the Wafer split keyboard.

config BOARD_ENABLE_DCDC
    bool "Enable DCDC mode"
    select SOC_DCDC_NRF52X
    default y
    depends on WAFER_LEFT || WAFER_RIGHT

