config BOARD_WAFER_LEFT
    bool "Wafer Left"
    default n
    help
      Select this option to build for the left side of the Wafer split keyboard.

config BOARD_WAFER_RIGHT
    bool "Wafer Right"
    default n
    help
      Select this option to build for the right side of the Wafer split keyboard.


